---

 - name: TEST
   hosts: PROXY 
   become: true

   tasks:
   - name: Install EPEL Repo
     include_role:
       name: yum_repo
     vars:
       repo_file_url: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm"
       repo_gpg_key_url: "/etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7"

   - name: Check if EPEL repo exists.
     stat:
       path: "/etc/yum.repos.d/epel.repo"
     register: epel_repofile_result

   - name: EPEL is not installed
     fail:
       msg: "EPEL Repo is not installed"
     when: not epel_repofile_result.stat.exists

   - name: Install Docker Dependencies
     yum:
       name: python2-pip
       state: present
       
   - name: Check pip
     include_role:
       name: pip
     vars:
       pip_install_packages: docker-py       
...
