server {
    listen       80;
    listen       443 ssl;
    server_name  www.esgem-systems.co.uk;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    ssl_certificate       conf.d/fullchain.pem;
    ssl_certificate_key   conf.d/privkey.pem;

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

}
